body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f0f8ff;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Resto do CSS permanece o mesmo */

header {
    background-color: #007acc;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo {
    height: 50px;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    padding: 5px;
    border: none;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.search-bar button {
    padding: 5px 10px;
    background-color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

main.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
}

.search-filters, .top-barbers {
    background-color: #e6f7ff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.barber-card {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.barber-info {
    display: flex;
    align-items: center;
    gap: 15px;
}

.barber-photo {
    width: 100px;
    height: 100px;
    border-radius: 15px; /* Borda arredondada */
    object-fit: cover; /* Garante que a imagem seja cortada para se ajustar */
}

.barber-details {
    flex: 1;
}

.barber-details h3 {
    margin: 0;
    color: #007acc;
}

.barber-details p {
    margin: 5px 0;
}

    
.schedule-form {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.schedule-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.schedule-form input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.schedule-form button {
    background-color: #007acc;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.schedule-form button:hover {
    background-color: #007acc;
}

footer {
    background-color: #007acc;
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-top: auto;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}